/* nav bar css */
.headerline{
    display: flex;
    padding: 20px;
    background-color: rgb(2, 2, 2);
}
.menu{
    margin-left: 500px;
    margin-top: 20px;
}
nav ul{
    display: flex;
   
}
nav li{
    list-style: none;
    margin-right: 25px;
}
nav li a{
    text-decoration: none;
    color:whitesmoke;
    font-weight:700;
    font-size: 20px;
}
/* nav bar css end */

#first-heading{
   
    margin-right: 100px;
    padding: 50px;
}
h4{
    font-size: 30px;
    margin-left: 40px;
    color:whitesmoke;
}
h1{
    font-size: 40px;
}

h6{
    font-size: 20px;
}

.link-button{
    padding: 10px 20px;
    text-decoration: none;
    color: cornsilk;
    font-weight: 700;
    background-color: rgb(223, 14, 143);
    border-radius: 10px;
}
.logo{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 25px;
    margin-top: 200px;
  box-shadow:1px 1px 5px gray;
   
}
/* lst container css start*/
.container{
    display: flex;
    height: 300px;
    padding: 20px;  
}
.head-pic img{
    height: 200px;
    width: 250px;
    padding: 60px;
}
#heading{
  
    margin-left: 10%;
 }
 .heading-color{
    color: rgb(10, 179, 10);
}
/* lst container css end */
/* main container css start */
.popular .popular-collection img{
   width: 200px;
   padding: 20px;
}
.collection-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

 p{
    margin-left: 20px;
}
.collection-title{
    margin-left: 20px;
}
h2{
    font-size: 40px;
    text-align: center;
    margin-top: 200px;
}
.populars{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    padding: 250px;
    margin-top: -150px;
}
.popular{
    width: 250px;
   margin-top: 20px;
    border-radius: 2px solid black;
    box-shadow: 2px 5px 10px 3px rgb(3, 3, 27);
   
}
.fa-star{
    font-size: 12px;

}
.fa-star.filled{
    
    color: goldenrod;
}
.fa-star.empty{
    color: gray;
}
/* main container css end */
/* footer area */
footer{
    height: 200px;
    background-color: rgb(1, 6, 31);
    color: whitesmoke;
    text-align: center;
    
}
.copper{
   padding: 20px;
  
}
/* footer area */
/*......................
     media queries
 ..................... */


/* mobile devices*/
